{% extends "base_template.html" %}

{% block content %}

<!-- Legacy Index Page Code (Do Not Touch)
<div style="padding-left: 2%;">

<h2>Building Kurnn</h2><br>
<h3>An AI based solution for music enthusiasts and composers</h3>
<br>
<h3>Current Features</h3><br>
<a href="/generate" class="btn btn-primary" role="button">Generate Notes</a><br>
<br>
<a href="/recommend" class="btn btn-primary" role="button">Song Recommendations</a><br>
<br>
<a href="/check" class="btn btn-info" role="button">Check DB</a><br>

<h3>MVP Features</h3>
<ul>
  <li>Adding processed 1.5 million songs to DB</li>
  <li>Include Meta's MusicGen model for music generation</li>
  <li>Use proposed algorithm for recommendations</li>
  <li>Create user records for personalized results</li>
  <li>Allow users to define prompts(currently hard-coded)</li>
</ul>

</div>
-->



<div class="bg-image" style="background-image: url('{{ url_for('static', filename='278662.png') }}'); height: 100vh; background-size: cover;">
</div>


{% endblock %}